.normal_label {
	color: rgb(30, 32, 34); cursor: default; display: block; font-family: Helvetica, Verdana; font-size: 13px; height: 34px; padding-bottom: 2px;
	padding-left: 2px; padding-right: 2px; padding-top: 2px; white-space: normal; width: 120px; border-style: none; float: left; line-height: 34px;
}

.normal_input {
	color: rgb(30, 32, 34); cursor: default; display: block; font-family: Helvetica, Verdana; font-size: 13px; height: 34px; padding-bottom: 2px;
	padding-left: 2px; padding-right: 2px; padding-top: 2px; white-space: normal; width: 160px; border: 1px solid #c7c7c7; float: left;
}

.normal_select {
	color: rgb(30, 32, 34); cursor: default; display: block; font-family: Helvetica, Verdana; font-size: 13px; height: 34px; padding-bottom: 2px;
	padding-left: 2px; padding-right: 2px; padding-top: 2px; white-space: normal; width: 160px; border: 1px solid #c7c7c7; float: left;
}

.normal_checkbox {
	height: 30px; line-height: 30px; padding: 8px;
}

.form_item {
	width: 310px; height: 40px; margin: 0 auto; margin-top: 20px; margin-bottom: 20px;
}

.normal_button {

}